body{ font:100% normal "Microsoft YaHei",simhei,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;}
p{text-align: center;} 
ul,ol { list-style:none; margin:0; padding:0;}
/**
* styles
* 
* @Date 20150409
* @author YHF
****/
.am-header-bg{background: #dce4df;}
.am-download .am-version{font-size: 1.8rem; color: #808080; text-align: right;}
.am-download .am-notice{font-size: 2rem; color:#e7316a; line-height: 46px;}
.am-download .am-notice .am-icon-shield{margin-right: 10px; }
.am-download .am-copyright,.am-g .am-copyright{font-size: 1.4rem; color: #808080; line-height: 24px;}
.am-copyright span{color: #3abdb8; display: block;}
/**
*  button styles
****/
.qmm-btn{ background: #e7316a; border: 0 none; color: #fff; border-radius: 5px; padding:15px 0px; font-size: 2.4rem;}
.qmm-btn:hover,.qmm-btn:active,.qmm-btn:focus{ background: #e7316a; color: #fff; }
.qmm-btn-gray{ background: #ededed; border: 0 none; color: #333; border-radius: 3px; }
.qmm-btn-gray:hover,.qmm-btn-gray:active,.qmm-btn-gray:focus{ background: #ededed; color: #333; }
.qmm-btn-white{ background: #fff; border: 0 none; color: #333; border-radius: 3px; }
.qmm-btn-white:hover,.qmm-btn-white:active,.qmm-btn-white:focus{ background: #fff; color: #333; }
/**
* form styles 
****/
.am-qmm-form .am-qmm-forget{ margin-top: -10px; margin-bottom: 10px; }
.am-qmm-form .am-qmm-forget a{color: #878787; font-size: 1.4rem; border-bottom: solid 1px #e1e1e1;}
.am-qmm-form .am-input-group{border: 1px solid #d7d8dd; border-radius: 5px;}
.am-qmm-form .am-form-group input{   border: 0 none;  color: #989fa9; border-radius: 5px; }
.am-qmm-form .am-form-group input[readonly],.am-qmm-form .am-form-group input[disabled]{ border: solid 1px #e5e5e5;}
.am-qmm-form .am-input-group-label{ border: 0 none; background: none; background: #fff; border-radius: 5px; }
.am-qmm-form .am-checkbox a,.am-qmm-form .am-checkbox  { font-size: 1.6rem; line-height: 28px;   }
.am-qmm-form .am-checkbox {margin: 30px auto; max-width: 320px;}
.am-qmm-form .am-checkbox label input{ width: 15px; height: 15px; margin-right: 10px; float: left; display: block; margin-left: 0px; margin-top: 5px;}